<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To provide a secure payment service, we need to know your location.\nWithout location information, you cannot accept payments using this app.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>The app needs to connect to Bluetooth peripherals to detect the SumUp Card Terminal correctly. Please confirm with \&quot;OK\&quot; as you cannot use your card reader otherwise.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>The app needs to connect to Bluetooth peripherals to detect the SumUp Card Terminal correctly. Please confirm with \&quot;OK\&quot; as you cannot use your card reader otherwise.</string>
</dict>
</plist>
